<!DOCTYPE html>
<html lang="en" data-ng-app="myWebsite">
  <head>
    <% include partials/page/head.ejs %>
  </head>
  <body>
    <% include partials/page/header.ejs %>    
    
    
    <main data-ng-view ></main>
     
    <% include partials/page/footer.ejs %>
    </body>
</html>