<div data-ng-controller="dashboardCtrl">
    <div class="row col-md-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, rem nam ut tempora vero obcaecati error voluptatibus perferendis minima sequi fugiat optio dignissimos cupiditate quod qui nisi totam voluptatum similique.
    
    </div>
    <div class="row col-md-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda fuga vitae voluptate voluptatum doloremque. Voluptatem, rerum voluptas non delectus. Suscipit, provident deleniti cumque voluptates tenetur repellendus impedit odio quaerat vero.    
    </div>
    
    <div class="row col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, reprehenderit, nihil deserunt et impedit maxime quibusdam aut nemo necessitatibus distinctio vitae ipsam sunt obcaecati non unde ipsum magnam! Incidunt, at.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quia, aliquid provident eius tenetur voluptas neque id porro ipsam quam aperiam vel nobis blanditiis placeat ut soluta voluptatem eos alias.
    </div>
</div>  
