    <div id="pageMean" data-ng-controller="meanCtrl" class="container">
        
        <div class="fullwidth center-block">
            <h1>What does MEAN mean?</h1>
            <h2>This website was created using the <strong>mean</strong> stack</h2>
            <h3>Mongodb Expressjs Angularjs Nodejs</h3>
            <div class="tile-block well">
                <div class="row col-md-3 tile">
                    <div>
                        <p>
                            <h3>Node</h3>
                            Node.js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient. Node.js' package ecosystem, npm, is the largest ecosystem of open source libraries in the world.
                        </p>
                    </div>
                </div>
                <div class="row col-md-3 tile">
                    <div>
                        <p>
                            <h3>Express</h3>
                            A fast, un-opinionated, minimalist web framework for Node.js applications. In general, “Express” is preferred to “Express.js,” though the latter is acceptable.
                        </p>
                    </div>
                </div>
                <div class="row col-md-3 tile">                
                    <div>
                        <p>
                            <h3>MongoDB</h3>
                            A nosql database.
                            MongoDB is a giant leap forward that helps organizations standardize on a single, modern database for their new, mission-critical applications.
                        </p>
                    </div>
                </div>
            
                <div class="row col-md-3 tile">
                    <div>
                        <p>
                            <h3>Angular</h3>
                            AngularJS is what HTML would have been, had it been designed for building web-apps.
                            Declarative templates with data-binding, MVW, MVVM, MVC, dependency injection and great
                            testability story all implemented with pure client-side JavaScript!
                        </p>
                    </div>    
                </div>
            <div class="clearfix"></div>
            <br /><br />
            </div>
        </div>
            
    </div> 
