    <footer>
        <div class="row col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, eaque, qui rem ut placeat inventore ratione fugit asperiores doloribus eum quos architecto consequuntur dicta minus eligendi maxime blanditiis vero beatae.
        </div>
        <div class="row col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste, iusto, ut temporibus sit possimus dolor in enim debitis sequi quis incidunt amet a maiores distinctio culpa repellat magni qui soluta!
        </div>
        <div class="row col-md-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, quod, beatae, voluptas esse inventore magni aliquam sequi voluptatibus odio doloribus qui incidunt quasi neque nihil nostrum maiores similique commodi alias.
        </div>
    </footer>

</div> 
