<div id="page" data-ng-controller="navCtrl" >
    
    <nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button  type="button" class="navbar-right btn-lg btn btn-default navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            
            <a class="navbar-brand" href="/#/">&lt;dev&#58;david &#47;&gt;</a>            

            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ">
                    <!--
                    <li data-ng-class="{active: isActive('/php')}" ><a href='http://php-dngh.rhcloud.com/news' alt=''>news</a></li>
                    <li data-ng-class="{active: isActive('/php')}" ><a href='http://php-dngh.rhcloud.com/images' alt=''>images</a></li>                    
                    //-->
                    <li data-ng-class="{active: isActive('/mean')}" ><a href='/#/mean'>mean</a></li>
                    <li data-ng-class="{active: isActive('/demo')}" ><a href='/#/demo'>demo</a></li>
                </ul>
                <button class="btn btn-default navbar-btn" onclick="location.href='http://php-dngh.rhcloud.com'" >Switch to PHP site</button>
            </div>
        </div>
    </nav>
    
    <header>
        
    </header>
    
    
    
    
